.lecture-card-container{
    background-color: #F3F3F3;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    width: 20rem;
    height: 70%;
}
.lecture{
    padding: 1rem 0;
    width: fill;
}
.lecture-number{
    font-size: 1rem;
    font-weight: 600;
}
.lecture-subject{
    font-size: 1.5rem;
}
.select-lecture-button{
    font-size: 1.3rem;
    cursor: pointer;
}
.inactive-button{
    cursor:default;
    opacity:0.5;
}
.lecture-detail-section{
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    justify-content:left ;
    gap:0.3rem
}
.lecture-icon{
    font-size: 1.3rem;
    width: 1.5rem;
    align-items: center;
}