

.board-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.board-member img {
    width: 100%;
    height: 25rem;
    border-radius:0.5rem;
    object-fit: cover;
}

.board-member-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.board-member-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.board-member-role {
    opacity: 0.5;
}

.board-member-social {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center
}

.board-member-social a {
    text-decoration: none;
}

.board-member-icon {
    color: #000;
    transition: all 0.1s ease-in-out;
    font-size: 1.5rem;
}

.board-member-icon:hover {
    transform: translateY(-5px);
}


@media (max-width: 768px) {
    .board-member {
        width: 16rem;
    }

    .board-member img {
        width: 18rem;
        height: 20rem;
    }
}