

.board-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.board-member img {
    width: 100%;
    height: 25rem;
    border-radius:0.5rem;
    object-fit: cover;
}

.board-member-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.board-member-name {
    font-size: 1.4rem;
    font-weight: 600;
}

.board-member-role {
    opacity: 0.5;
    font-size: 18px;
}

.board-member-social {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center
}

.board-member-social a {
    text-decoration: none;
}

.board-member-icon {
    color: #000;
    transition: all 0.1s ease-in-out;
    font-size: 1.5rem;
}

.board-member-icon:hover {
    transform: translateY(-5px);
}


@media (max-width: 850px) {
    .board-member {
        width: 12rem;
    }

    .board-member img {
        width: 12rem;
        height: 14rem;
    }

    .board-member-icon{
        font-size: 1.3em;
    }
    .board-member-name{
        font-size: 1.3em;
    }

}

@media (max-width: 650px) {
    .board-member {
        width: 10rem;
    }

    .board-member img {
        width: 10rem;
        height: 12rem;
    }
    .board-member-icon{
        font-size: 1.2em;
    }
    .board-member-name{
        font-size: 1.2em;
    }
    .board-member-role{
        font-size: 17px;
    }
}

@media (max-width: 550px) {
    .board-member {
        width: 9rem;
    }

    .board-member img {
        width: 9rem;
        height: 11rem;
    }
    .board-member-icon{
        font-size: 1.1em;
    }
    .board-member-name{
        font-size: 1.1em;
    } 
    .board-member-role{
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .board-member {
        width: 8rem;
    }

    .board-member img {
        width: 7.5rem;
        height: 8.5rem;
    }
    .board-member-icon{
        font-size: 0.9em;
    }
    .board-member-name{
        font-size: 0.9em;
    } 
    .board-member-role{
        font-size: 14px;
    }
}