    .modal-container, .modal-overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    .modal-overlay {
        background: rgba(49,49,49,0.8);
        z-index: 101;
    }

    .modal-content {
        z-index: 102;
        position: absolute;
        top: 20vh;
        left: 35vw;
        background: #f1f1f1;
        border-radius: 8px;
        width: 30vw;
        height: 40vh;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }