.course-card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.course-card-image{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.course-card-content{
    margin-top: 0.5rem;
    width: 95%;
    text-align: left;
}
.course-card-title{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
.course-card-description{
    font-size: 1rem;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-card-detail-section{
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    justify-content:left ;
    gap:0.3rem
}
.course-card-icon{
    font-size: 1.3rem;
    width: 1.5rem;
    align-items: center;
}