

.card-container {
    margin: 20px;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    
}

.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 85%;
    overflow: hidden;
    
}

.card-header {
    background: #0085ca;
    color: #ffffff;
    padding: 20px;
}

.card-header h2 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

.card-content {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.stat-item {
    flex: 1 1 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    transition: 0.2s;
}
.stat-item:hover {
    transform: scale(1.02);
   
}

.stat-icon {
    font-size: 2em;
    margin-right: 15px;
}

.stat-text h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333333;
}
@media (max-width: 900px) {
    .card {
        
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 1.3em;
        
        max-width: 80%;
      
        
    }

}
