@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}




.sponsors-container{
    overflow: hidden;
    padding: 30px 0;
    background:  #002f6c;
    white-space: nowrap;
    position: relative;
    border-bottom: white solid 1px;
}
.sponsors-container:before,
.sponsors-container:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 2;
}

.sponsors-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0),  #002f6c);
}

.sponsors-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),  #002f6c);
}


.logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
    margin: 5px;
}



.logos-slide img {
    height: 100px;
    margin: 0 40px;
    transition: transform 0.3s ease;
}



.logos-slide img:hover {
    transform: scale(1.1) rotate(2deg);


}
@media (max-width: 900px) {
    .logos-slide img {
        height: 50px;
        margin: 0 20px;
    }
}